<template>
<div>		

		<Spinner 
		:visible="this.$store.state.spinner.show"
		:legend="this.$store.state.spinner.legend"  
		:icon="this.$store.state.spinner.icon"  
		/>   

		<div class="navbar-fixed"> 
				<nav>
					<div class="nav-wrapper"  > 
						
						<!-- Logo -->
						<a v-if="!$store.state.usuarioLogado" href="/" class="brand-logo"> 
							Quiz&nbsp;Humanas
						</a>
						<a v-if="$store.state.usuarioLogado" href="/" class="brand-logo left" style="margin-left:70px;">  
							<span style="font-size:0.8em">Quiz&nbsp;Humanas </span> 
						</a>						 
						<!-- /Logo -->

						<a href="#" data-target="sidenav" class="sidenav-trigger" ><i class="material-icons">menu</i></a>
										

						<!-- Dropdown Dados do usuário --> 
						<ul id="dropdownPerfil" class="dropdown-content"> 
							<li><router-link :to="{ name: 'atualiza-cadastro' }" >Perfil</router-link> </li> 
							<li><a href="#!" v-on:click.prevent="logout" >Sair</a></li>
						</ul> 
						<ul v-show="$store.state.usuarioLogado" class="right"> 
							<li><a class="dropdown-trigger" href="#!" data-target="dropdownPerfil"> {{ ($store.state.usuarioLogado)?$store.state.usuarioLogado.name.split(' ')[0]:'' }}<i class="material-icons right">arrow_drop_down</i></a></li>
						</ul>
						<!-- /Dropdown Dados do usuário -->


						<!-- Dropdown Administrativo Large --> 
						<ul id="dropdownAdm" class="dropdown-content"> 
								<li><router-link :to="{ name: 'pergunta' }" >Perguntas</router-link> </li>  
						</ul> 
						<ul v-show="$store.state.usuarioLogado && $store.state.usuarioLogado.adm" class="right hide-on-med-and-down">
							<li><a class="dropdown-trigger" href="#!" data-target="dropdownAdm">Administrativo<i class="material-icons right">arrow_drop_down</i></a></li>
						</ul>
						<!-- /Dropdown Asministrativo Large --> 


						<!-- ********* -->
						<!-- Menu Large -->
						<!-- ********* --> 
						<ul class="right hide-on-med-and-down">

								<li><a href="" v-bind:click="function(){window.location='/'}" class="waves-effect"  >Home</a></li>  
								<li><router-link class="waves-effect" :to="{ name: 'game' }"  v-on:click.native="closeSideNav"><b>Jogar Agora</b></router-link> </li>  
								<li><router-link class="waves-effect" :to="{ name: 'sugestao' }"  v-on:click.native="closeSideNav">Sugestões</router-link> </li>  
								<li><router-link class="waves-effect" :to="{ name: 'pergunta-create' }"  v-on:click.native="closeSideNav">Adicionar Pergunta</router-link> </li>  
								<li v-if="$store.state.usuarioLogado"><router-link class="waves-effect" :to="{ name: 'sugestao' }"  v-on:click.native="closeSideNav">Sugestões</router-link> </li>  
								<li v-if="!$store.state.usuarioLogado"><router-link class="waves-effect" :to="{ name: 'login' }"  v-on:click.native="closeSideNav">Login</router-link> </li>  			  

						</ul>
						<!-- ********* -->
						<!-- /Menu Large -->
						<!-- ********* -->

					</div>
					</nav>
		</div>		  

		  <ul ref="sidenav" id="sidenav" class="sidenav">
			<li>
					<div class="user-view">

							<div class="background">
							<img src="/images/bg_menu.jpg" class="right">   
							</div> 

							<img class="circle" :src="avatar"  >
							<router-link v-if="$store.state.usuarioLogado" :to="{ name: 'atualiza-cadastro' }" ><span class="white-text name">{{ ($store.state.usuarioLogado)?$store.state.usuarioLogado.name:'' }}</span></router-link>
							<router-link v-if="$store.state.usuarioLogado" :to="{ name: 'atualiza-cadastro' }" ><span class="white-text email">{{ ($store.state.usuarioLogado)?($store.state.usuarioLogado.telefone):'' }}</span></router-link>
				</div>
			</li>
			
 

			<!-- Drop down Menu mobile --> 
			<li class="grey lighten-2"><a href="" :click="irParaHome"><i class="material-icons">home</i>Home</a></li>
			<li><router-link class="waves-effect" :to="{ name: 'game' }"  v-on:click.native="closeSideNav"><b>Jogar Agora</b></router-link> </li>  			

			<!-- Drop down administrativo mobile --> 
			<li  class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li v-if="$store.state.usuarioLogado && $store.state.usuarioLogado.adm"> 
            <a class="collapsible-header">Administrativo<i class="material-icons">arrow_drop_down</i></a>
            <div class="collapsible-body">
              <ul>
								<li><router-link :to="{ name: 'pergunta' }"  v-on:click.native="closeSideNav">Perguntas</router-link> </li>  
              </ul>
            </div> 
          </li>
        </ul>
      </li>	
		<!-- /Drop down administrativo  mobile --> 

 
			<!-- <li><router-link :to="{ path: '/#_produtos' }"  v-on:click.native="closeSideNav">Produtos</router-link> </li>  --> 
			<!-- <li><router-link v-if="$store.state.produtos.length" :to="{ name: 'carrinho' }"  v-on:click.native="closeSideNav">Carrinho</router-link> </li> -->
		<!-- /Drop down Menu mobile --> 
			
			<li><div class="divider"></div></li> 
			<li><router-link class="waves-effect" :to="{ name: 'pergunta-create' }"  v-on:click.native="closeSideNav">Adicionar Pergunta</router-link></li>						
			<li><div class="divider"></div></li>
			<li><router-link class="waves-effect" :to="{ name: 'sugestao' }"  v-on:click.native="closeSideNav">Sugestões</router-link></li>			
			<li v-if="!$store.state.usuarioLogado" ><router-link :to="{ name: 'login' }"  v-on:click.native="closeSideNav">Login</router-link> </li>  
			<li v-if="$store.state.usuarioLogado"><a  href="#" class="waves-effect" v-on:click.prevent="logout">Sair</a> </li>   

		  </ul>

		  
		<router-view></router-view>  
		

		
</div>
</template> 

<script> 
 
import Spinner from './components/vue-custom-spinner'   

import { setTimeout } from 'timers';

export default {
  components: { 
			Spinner
			
	},

 created: function () {
	 
			axios.get('/api/me').then((response)=>{  
				this.$store.commit('setUsuarioLogado',response.data.user); 
			}, function(response){  

			});
									 
 },

  data: function() {
		return {
			avatar: '' 
			
		};
		
  },


	
  methods: {
    closeSideNav: function() {
      $("#sidenav").sidenav("close");
		},
		logout: function(){
			this.$store.commit('setLogout');  
			this.closeSideNav(); 
			window.location = '/'; // Forço um refresh na página  
		},
    irParaHome: function(){
        window.location = '/';
		}
	
		
		
  },

  mounted: function() {
			$('.sidenav').sidenav(); 
			$('.collapsible').collapsible();    
			$('.dropdown-trigger').dropdown();  

      setTimeout(()=>{  
				this.avatar = (this.$store.state.usuarioLogado)?this.$store.state.usuarioLogado.avatar:'/images/user_avatar.png'; 
			},2000);
			


	},

  updated: function() {  
    this.$nextTick(function() {
			$('.sidenav').sidenav(); 
			$('.collapsible').collapsible();    
			$('.dropdown-trigger').dropdown(); 
    }); 
  }	
};
</script> 
