// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
//@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

@import "node_modules/materialize-css/sass/components/color-variables"; 
@import "variables";  
@import "node_modules/materialize-css/sass/materialize"; 

@import url('https://fonts.googleapis.com/icon?family=Material+Icons'); 
@import url('https://use.fontawesome.com/releases/v5.8.0/css/all.css');   

 
body {
    display: flex;
    min-height: 100vh;
	flex-direction: column;
 }

 main {
    flex: 1 0 auto;
 }
  
.fixed-action-btn{
	bottom:70px;
	right:10%;
	
}  
  
.font-roboto{ 
    font-family: 'Roboto', sans-serif;
}

.font-qs{
    font-family: 'Quicksand', sans-serif;
}