<style>


</style>

<template>
   <div class="container">


        <PageTitle titulo="Perfil do Usuário" showback="true" />

          <blockquote>
              <p> <b>Atualize seus dados</b> </p>
              Campos marcados com (*) são de preenchimento obrigatórios
              </blockquote>

                <div class="row">
            <form class="col s12" id="formCadastro" @submit.prevent="save" novalidate>

            <div class="row">


                <div class="input-field col s12">
                <i class="material-icons prefix">person</i>
                <input placeholder="Informe seu nome completo"  v-model="name"  id="name" ref="name" type="text" name="name">
                <label for="name" class="active">Nome Completo *</label>
                </div>

                
                <div class="input-field col s12">
                    <i class="material-icons prefix">face</i> 
                    <select  v-model="sexo" name="sexo" id="sexo" ref="sexo"> 
                        <option value="" disabled selected>Sexo</option>
                        <option value="M">Masculino</option>
                        <option value="F">Feminino</option>
                        <option value="O">Outro</option>
                    </select>
                </div>
                
                <div class="input-field col s12">
                <i class="material-icons prefix">perm_contact_calendar</i>
                <input placeholder="DD/MM/AAAA" v-model="dtnas" v-mask="'##/##/####'" id="dtnas"  ref="dtnas" type="text" name="dtnas">
                <label for="telefone" class="active">Data de Nascimento  (opcional)</label>
                </div>

            

            </div>

            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit"  class="waves-effect waves-green btn"><i class="material-icons right">save</i>Salvar</button>            
                </div>
            </div>       

                           
            </form>
        </div>      



   </div> 
</template>  


<script>

import PageTitle from "../components/vue-custom-page-title.vue";  

export default {
  components: { 
    PageTitle
  },

  created: function() {
     
  },

  data: function() {
     
    return {
        
        name: this.$store.state.usuarioLogado.name,
        sexo: this.$store.state.usuarioLogado.sexo,
        dtnas: this.$store.state.usuarioLogado.dtnas
 
    };
  },

  methods: {

        save: function(){
                    let formData = new FormData(
                        document.getElementById("formCadastro")
                    );

                    if (!this.validaDados(formData)){
                        return;
                    } 

                    formData.append("_method", "PATCH");   

                    var url = "api/user/" + this.$store.state.usuarioLogado.id; 

                    axios.post(url, formData).then( 
                        response => {
                                M.toast({ html: "Dados salvos!", classes: "green" }); 
                                this.$router.go(); 
                               
                               
                        },
                        response => {
                            M.toast({ html: "Ocorreu um erro.", classes: "red" });
                        }
                    );

      },

      validaDados: function(formData){

          let nome = formData.get("name"); 
          let dtnas = formData.get("dtnas"); 
          
          if (!nome){
              M.toast({ html: "Nome Completo deve ser informado", classes: "red"});
              this.$refs.name.focus(); 
              return false;
          }
          
          if (nome.indexOf(' ') == -1){
              M.toast({ html: "Informe seu nome completo", classes: "red"});
              this.$refs.name.focus(); 
              return false;
          }          

        if (dtnas){ 
            if (dtnas.indexOf('/') == -1){
                M.toast({ html: "Data de nascimento inválida", classes: "red"});
                this.$refs.dtnas.focus(); 
                return false;
            }else{
                var dia = dtnas.split("/")[0];
                var mes = dtnas.split("/")[1];
                var ano = dtnas.split("/")[2];
                if(new Date(Date.parse(ano +'/'+mes+'/'+dia)) == 'Invalid Date'){
                        M.toast({ html: "Data de nascimento inválida", classes: "red"});
                        this.$refs.dtnas.focus();                   
                        return false;  
                }

            }        
        }


        /*
         let parseEmail = /^[a-z0-9.]+@[a-z0-9]+\.[a-z]+(\.[a-z]+)?$/i; 
         if (email && (email.indexOf('@') == -1)){
              M.toast({ html: "Email inválido. Está faltando símbolo @  ", classes: "red"});
              this.$refs.email.focus();  
              return false;
         }
         
         if (email && !parseEmail.test(email)){
              M.toast({ html: "Email inválido. Verifique o email informado.", classes: "red"});
              this.$refs.email.focus();  
              return false;
         }*/

          return true;


      }
  },
 computed: {
 },
  mounted: function() {
      M.AutoInit(); 
  }

  
  
};
</script> 



