<style>


</style>

<template>
   <div class="container">


        <PageTitle titulo="Registro" />

        

          <blockquote>Campos marcados com (*) são de preenchimento obrigatórios</blockquote>
          


                <div class="row">
            <form class="col s12" id="formCadastro" @submit.prevent="efetuarCadastro" novalidate>

            <div class="row">
                
                <div class="input-field col s12">
                <i class="material-icons prefix">person</i>
                <input placeholder="Informe seu nome completo"  v-model="name"  id="name" ref="name" type="text" name="name">
                <label for="name" class="active">Nome Completo *</label>
                </div>
                <!--
                <div class="input-field col s12">
                    <i class="material-icons prefix">face</i> 
                    <select name="sexo" id="sexo" ref="sexo">
                        <option value="" disabled selected>Sexo</option>
                        <option value="M">Masculino</option>
                        <option value="F">Feminino</option>
                    </select>
                </div>                     
                --> 

                <div class="input-field col s12">
                <i class="material-icons prefix">smartphone</i>
                <input placeholder="(21) 99999-9999" v-model="telefone" v-mask="'(##) #####-####'" id="telefone"  ref="telefone" type="text" name="telefone">
                <label for="telefone" class="active">Telefone Celular *</label>
                </div>

                <div class="input-field col s12">
                <i class="material-icons prefix">mail</i>
                <input v-model="email" id="icon_prefix" type="email" name="email" ref="email">
                <label for="icon_prefix" class="active">Email (opcional)</label>
                </div>

                <div class="input-field col s12">
                <i class="material-icons prefix">place</i>
                <input placeholder="Informe seu endereço e número" v-model="endereco" id="endereco" ref="endereco" type="text" name="endereco">
                <label for="name" class="active">Endereço para entrega (opcional)</label>
                </div>
                  

            </div>
            <!--
            <div class="row">
                <div class="input-field col s12">
                <i class="material-icons prefix">lock</i>
                <input id="icon_telephone" type="password" value="senha01" class="validate" name="password">
                <label for="icon_telephone" class="active">Senha</label>
                </div>
            </div>
            --> 
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit"  class="waves-effect waves-green btn"><i class="material-icons right">send</i>Concluir Registro</button>            
                </div>
            </div>       

                           
            </form>
        </div>      



   </div> 
</template>  





<script>

import PageTitle from "../../components/vue-custom-page-title.vue";

export default {
  components: { 
    PageTitle
  },


  data: function() {
    return {
        name:"",
        telefone:"",
        email:"",
        endereco:"" 
    };
  },

  methods: {

      efetuarCadastro: function(){

            let formData = new FormData(
                document.getElementById("formCadastro")
            );          

            if (!this.validaDados(formData)){
                return;
            }

            this.$http.post("api/usuario", formData).then(
                response => {
                            this.$router.replace({ name: 'login' }, function(){
                                M.toast({ html: "<i class='material-icons left'>mood</i>Registro efetuado com sucesso!<br> Utilize o número do seu celular para realizar o login!", classes: "green", displayLength:12000});  
                            }); 
                },
                response => {

                    var resp = response.body;        
                    if (resp.message){
                        M.toast({ html: resp.message.text, classes: "red", displayLength:resp.message.time});
                    }else{
                        M.toast({ html: "Ocorreu um erro. Verifique os dados informados.", classes: "red"});
                    }

                    

                }
            );

      },

      validaDados: function(formData){

          let nome = formData.get("name");
          let telefone = formData.get("telefone");
          let email = formData.get("email");
          
          if (!nome){
              M.toast({ html: "Nome Completo deve ser informado", classes: "red"});
              this.$refs.name.focus(); 
              return false;
          }
          
          if (nome.indexOf(' ') == -1){
              M.toast({ html: "Informe seu nome completo", classes: "red"});
              this.$refs.name.focus(); 
              return false;
          }          

          if (!telefone){
              M.toast({ html: "Telefone celular deve ser informado", classes: "red"});
              this.$refs.telefone.focus(); 
              return false;
          }

          if (telefone.replace(/\D/g,'').length != 11){
              M.toast({ html: "Telefone celular inválido. Ex:(21) 99999-9999", classes: "red"});
              this.$refs.telefone.focus(); 
              return false;
          }
          

         let parseEmail = /^[a-z0-9.]+@[a-z0-9]+\.[a-z]+(\.[a-z]+)?$/i; 
         if (email && (email.indexOf('@') == -1)){
              M.toast({ html: "Email inválido. Está faltando símbolo @  ", classes: "red"});
              this.$refs.email.focus();  
              return false;
         }
         
         if (email && !parseEmail.test(email)){
              M.toast({ html: "Email inválido. Verifique o email informado.", classes: "red"});
              this.$refs.email.focus();  
              return false;
         }

          return true;


      }
  },

  mounted: function() {
      this.$refs.name.focus(); 
      M.AutoInit(); 
      
  },
  
};
</script> 



