
<template>


    <div class="container">
      
      
        
        <PageTitle titulo="Seu desempenho nesta partida" />    

        <p>Você chegou ao final do jogo!</p>
        <p>Sua pontuação foi: {{pontos}}</p>
        <p>Tempo de jogo: {{("0" + Math.floor(tempo/60/60)).slice(-2)}}:{{("0" + Math.floor(tempo/60)).slice(-2)}}:{{("0" + Math.floor(tempo)).slice(-2)}}</p>
        

        <a href="/" class="btn">Ranking</a> 


    </div>




</template>


<script>
import PageTitle from "../components/vue-custom-page-title.vue";
import SpinnerResp from '../components/vue-custom-spinner-resp.vue';  
import { setTimeout } from 'timers';
export default {
  name:'GameWin',
  components:{
    PageTitle
  },   
  data: function() {
    return {
      pontos: this.$route.params.pontos,
      tempo: this.$route.params.tempo

    }; 
  },  
  
  props: { 
    
  },

  created () {
  
    

  },  
  beforeRouteEnter: function (to, from, next) {
      next();
	},     
  methods: { 
    voltar:function(){
      this.$router.go(-1);  
    }
		
  },
  mounted () {
    
    
  }



}
</script>