
<template>

<div>


		<!-- <SpinnerResp />    --> 


  <div class="card">

    <div class="row">
      <div class="col s2"><img class="circle" :src="$store.state.usuarioLogado.avatar" width="50" height="50"  ></div>
      <div class="col s10">Pontos: <b>{{pontos}}</b>  </div>
      <div class="col s10">Tempo decorrido: <b>{{("0" + Math.floor(tempo/60/60)).slice(-2)}}:{{("0" + Math.floor(tempo/60)).slice(-2)}}:{{("0" + Math.floor(tempo)).slice(-2)}}</b>  </div>
    </div>
    
  </div>

<div class="container">
  
  
    
    <PageTitle :titulo="pergunta.materia" />  

    <div class="row">
      <div class="col s12 black-text" >
        {{pergunta.pergunta}}
      </div> 
    </div>

    
    <div class="row" id="rra">
      <div class="col s12">
        <label class="black-text">
          <input v-model="resposta" value="A" ref="ra" type="radio"  class="with-gap" @change="responder()" />
          <span>{{pergunta.ra}}</span>
        </label>        
      </div>       
    </div>

    
    <div class="row" id="rrb">
      <div class="col s12">
        <label class="black-text">
          <input v-model="resposta" value="B" ref="rb" type="radio"  class="with-gap" @change="responder()" />
          <span>{{pergunta.rb}}</span>
        </label>        
      </div>       
    </div>

    
    <div class="row" id="rrc" >
      <div class="col s12">
        <label class="black-text">
          <input v-model="resposta" value="C" ref="rc" type="radio"  class="with-gap" @change="responder()" />
          <span>{{pergunta.rc}}</span>
        </label>        
      </div>       
    </div>

    
    <div class="row" id="rrd">
      <div class="col s12">
        <label class="black-text">
          <input v-model="resposta" value="D" ref="rd" type="radio"  class="with-gap" @change="responder()" />
          <span>{{pergunta.rd}}</span>
        </label>        
      </div>       
    </div>

    
    <div class="row" id="rre">
      <div class="col s12">
        <label class="black-text">
          <input v-model="resposta" value="E" ref="re" type="radio"  class="with-gap"  @change="responder()" />
          <span>{{pergunta.re}}</span>
        </label>        
      </div>       
    </div>        

  
      <div class="row">
      <div class="col s12 right-align">
        <a href="" v-show="resposta != undefined && exibirbtn" @click.prevent="exibirProxima()" class="btn btn-small" style="width:100%"> <i class="material-icons right">arrow_forward</i>  {{labelbtn}}</a>     
      </div>       
    </div>     


</div>

</div>


</template>


<script>
import PageTitle from "../components/vue-custom-page-title.vue";
import SpinnerResp from '../components/vue-custom-spinner-resp.vue';  

export default {
  name:'Game',
  components:{
    PageTitle,
    SpinnerResp 
  },   
  data: function() {
    return {
          materias:[],
          perguntas:[],
          pergunta:{},
          respondidas:[],
          resposta:undefined,
          pontos:0,
          labelbtn:"Próxima",
          tempo:0,
          relogio:undefined,
          rankingId:undefined,
          exibirbtn:false


    }; 
  },  
  
  props: { 
    
  },

  created () {
  
    

  },
  beforeRouteEnter: function (to, from, next) {

        axios.get("/api/perguntas?verificadas=true").then(
          (response)=>{
              next(vm => {
                      
                      let materias = response.data;
                      for(let m in materias){
                        var materia = materias[m]
                        for(let p in materia.perguntas){
                          let pergunta = materia.perguntas[p]
                          pergunta.materia = materia.nome;  
                          vm.perguntas.push(pergunta);
                        } 
                      }
                       
                  });
          },
          (error)=>{ 
            M.toast({ html: "Ocorreu um erro. Por favor, tente mais tarde.", classes: "red" });
          }
        );

	},     
  methods: { 
    voltar:function(){
      this.$router.go(-1);  
    },

    enviar: function(){

    },

    exibirProxima(){


      if (this.resposta != undefined && this.pergunta.rcorreta != this.resposta){
           this.tratarGameOver();
           return; 
      }
      if(this.perguntas.length == this.respondidas.length){
        this.tratarGameWin(); 
        return; 
      }       
        
      // reset 
      let resps = ['a','b','c','d','e'];
        for(let r in resps ){
          $("div","#rr"+resps[r]).removeClass("green accent-1");
          $("div","#rr"+resps[r]).removeClass("red accent-1");
          $("label","#rr"+resps[r]).removeClass("white-text"); 
          $("input","#rr"+resps[r]).removeAttr("disabled");   
        }
        this.resposta = undefined; 
        
     //------------------------------------------   


      this.startRelogio();  

      var perguntaSelecionada = null;
      while(!perguntaSelecionada){
          perguntaSelecionada = this.perguntas[Math.floor(Math.random()*this.perguntas.length)];
          if (this.respondidas.includes(perguntaSelecionada.id)){
            perguntaSelecionada = undefined;
          }
      }

      this.pergunta = perguntaSelecionada; 


      
      
    },
    responder(){
        
        this.stopRelogio();
        
        let resps = ['a','b','c','d','e'];

        for(let r in resps ){
          if (this.pergunta.rcorreta.toLowerCase() == resps[r]) {
            $("div","#rr"+resps[r]).addClass("green accent-1"); 
          }else{
            $("div","#rr"+resps[r]).addClass("red accent-1"); 
          } 

          $("input","#rr"+resps[r]).attr("disabled","disabled");  
          $("label","#rr"+resps[r]).addClass("white-text");
          
        }

        if (this.pergunta.rcorreta == this.resposta){
          this.pontos = this.pontos + 100; 
        }else{
          this.labelbtn = "Veja o seu Desempenho" 
        }
        this.updateRanking();   
         
        this.respondidas.push(this.pergunta.id); 

        

    },

    tratarGameWin(){ 
        this.$router.replace("/game-win/"+this.pontos+"/"+this.tempo);
        
    },
    tratarGameOver(){
        this.$router.replace("/game-over/"+this.pontos+"/"+this.tempo);
    },
    startRelogio(){
      this.relogio = setInterval((f)=>{  
        this.tempo = this.tempo +1;
      } ,1000);
    },    

    stopRelogio(){
      clearInterval(this.relogio); 
    },

    criarRanking(){

      let obj = {
              user_id: this.$store.state.usuarioLogado.id,
              pontos: 0,
              tempo: 0
            }

        axios.post("/api/rankings", obj).then( 
          (response)=>{
                this.rankingId = response.data.ranking.id;     
                this.exibirProxima();   
                console.log('Ranking criado ' + this.rankingId);        
             }, 
          (error)=>{
               M.toast({ html: "Ocorreu um erro. Por favor, tente mais tarde.", classes: "red" });
          }); 

    }, 
    updateRanking(){ 

      let obj = {
              _method: 'PATCH',    
              id:this.rankingId,
              pontos: this.pontos,
              tempo: this.tempo
            }

        axios.post("/api/rankings/"+this.rankingId, obj).then( 
          (response)=>{
            console.log('Ranking atualizado'); 
            this.exibirbtn = true; 
          }, 
          (error)=>{
            this.$store.commit('setSpinner',{show:false});   
            M.toast({ html: "Ocorreu um erro. Por favor, tente mais tarde.", classes: "red" });
          }); 


    }        



		
  },
  mounted () {
    
    setTimeout(()=>{
      this.criarRanking();
      
    },500)
    
  },



}
</script>