
<template>


    <div class="container">
      
      
        
        <PageTitle titulo="Parabéns" />  

        <p>Você acertou todas as perguntas e conseguiu chegar ao final do jogo!</p> 
        <p>Sua pontuação foi: {{pontos}}</p>

        <a href="/" class="btn">Ranking</a>


    </div>




</template>


<script>
import PageTitle from "../components/vue-custom-page-title.vue";
import SpinnerResp from '../components/vue-custom-spinner-resp.vue';  
import { setTimeout } from 'timers';
export default {
  name:'GameWin',
  components:{
    PageTitle
  },   
  data: function() {
    return {
      pontos: this.$route.params.pontos

    }; 
  },  
  
  props: { 
    
  },

  created () {
  
    

  },  
  beforeRouteEnter: function (to, from, next) {
      next();
	},     
  methods: { 
    voltar:function(){
      this.$router.go(-1);  
    }
		
  },
  mounted () {
    
    
  }



}
</script>