<template>

<div>

<div class="container">

<PageTitle titulo="Desafio Quiz Humanas" /> 
 
 
 <blockquote>Olá! O Quiz Humanas é um jogo de perguntas e respostas de ciências humanas elaborado pela turma 1003 do CIEP 225 Mário Quintana sob a orientação da Professora Ramona Halley. Vamos Jogar?!</blockquote>
<p >Somente os melhores estarão neste Ranking. E aí... você vai ficar de fora? </p>
<!--
<div class="row center">
  <div class="col s4">
   História 
  </div>
  <div class="col s4">
   Filosofia 
  </div>
  <div class="col s4">
   Sociologia 
  </div>  
</div>
<div class="row center">
  <div class="col s4 ">
   10 
  </div>
  <div class="col s4">
   20 
  </div>
  <div class="col s4">
   15 
  </div>  
</div>
--> 

<PageTitle titulo="Ranking" />

<div class="row">
  <div class="col s12">

      <table class="striped">
        <tbody>
          <tr v-for="(r,index) in rankings" :key="r.id" :value="r.id">
            <td>
              <img class="circle" :src="r.user.avatar" width="40" height="40" > 
            </td>
            <td class="center">
              <img v-if="index==0" src="/images/premios/coroa.png" width="25" height="25">
              <img v-if="index==1" src="/images/premios/medalha2.png" width="25" height="25">
              <img v-if="index==2" src="/images/premios/medalha3.png" width="25" height="25">
            </td>
            <td>{{r.pontos}} pts.</td>
            <td>{{("0" + Math.floor(r.tempo/60/60)).slice(-2)}}:{{("0" + Math.floor(r.tempo/60)).slice(-2)}}:{{("0" + Math.floor(r.tempo)).slice(-2)}}</td>
            <td>{{r.user.name}}</td>
          </tr> 
        </tbody>
      </table>

  </div>
  
</div>



<div class="row">
  <div class="col s12 center">
    <a href="/#/game" class="waves-effect waves-light btn btn-large"> <i class="material-icons left">play_arrow</i> Jogar Agora</a>
  </div>
</div>



</div>



</div>
</template>

<style scope>

h6{
  padding-left: 5px;
  font-weight: bold;
}
.collection .collection-item.avatar {
    min-height: 55px; 
}

.collection .collection-item.avatar:not(.circle-clipper) > .circle, .collection .collection-item.avatar :not(.circle-clipper) > .circle {
  width:30px;
  height: 30px;
  left:2px;
}

.collection .collection-item.avatar i.circle {
    font-size: 12px;
    line-height: 30px;
    color: #fff;
    background-color: #999;
    text-align: center;
}
.collection .collection-item.avatar {
    min-height: 50px; 
    padding-left: 48px;
}
</style>


<script>
//import Spinner from '@/components/vue-custom-spinner.vue'
import store from '../store.js' 
import { setTimeout } from 'timers';
import PageTitle from "../components/vue-custom-page-title.vue";
export default {
  name: 'home',
  components:{
    PageTitle, 
    
  },
  data: function() {
    return {
      rankings:[] 
    }; 
  },  
  
  props: { 
    
  },
  beforeRouteEnter: function (to, from, next) {

        axios.get("/api/rankings").then(
          (response)=>{
              next(vm => {
                      vm.rankings = response.data 
                  });
          },
          (error)=>{ 
            M.toast({ html: "Ocorreu um erro. Por favor, tente mais tarde.", classes: "red" });
          }
        );

	},
  created () {
   console.log("created - executado");  
   this.$store.commit('setSpinner',{show:true, legend:"Aguarde..."});    
  },

  methods: {
	
		
		
  },
  mounted: function () {
      console.log("mounted - executado");  
      setTimeout(()=>{
        this.$store.commit('setSpinner',{show:false});    
      },500)
      
  
    
  }



}
</script>