<style scoped> 


</style>

<template>

</template>



<script>
export default { 

  components: {},

  data: function() {
    return {

    };
  },

 created: function() {
     
    this.$store.commit('setSpinner',{show:true, legend:"Aguarde..."});    
        
    axios.get('/getTempToken',{ crossDomain: true}).then((response)=>{

                  let token = this.$cookies.get("tokenCookie");
                  window.localStorage.token = token;
                  this.$store.commit('setToken',token);  
                  
                  axios.get('/api/me').then((response)=>{  
                    
                    this.$store.commit('setUsuarioLogado',response.data.user); 
                    
                    M.toast({ html: "Olá, " + response.data.user.name.split(' ')[0] + "! <br> Seja bem-vindo(a)!", classes: "green" , displayLength:'8000' }); 

                    //let redirectToPath = (this.$route.query.redirect)?this.$route.query.redirect:'/';
                    //this.$router.replace({ path: redirectToPath }); 


                    let redirectUrl = window.localStorage.getItem("redirectAfterLogin");
                    if (redirectUrl){
                        window.localStorage.removeItem("redirectAfterLogin"); 
                        this.$router.replace(redirectUrl); 
                    }else{
                        this.$router.replace("/");     
                    }

                    

                    

                }, function(response){ 

                });

                
                

                this.$store.commit('setSpinner',{show:false});    
        },(error)=>{ 
                this.$tore.commit('setSpinner',{show:false});   
        });          
        
    },

methods:{

      efetuarLogin: function(){
          


      }

}


  
};
</script> 



