<style scoped> 

#login_container{
    display: flex;
    width: 100vw;
    height: 70vh;
    border:0px solid #000; 
    justify-content: center;
    
}

#login{
    align-self: center;  
    width: 320px;

}

</style>

<template>



<form class="col s12" id="formLogin" @submit.prevent="efetuarLogin"> 


<div id="login_container" > 
    <div id="login" class="card">
       
        <div class="row" style="margin-bottom:1px!important;">
             <div class="col s12">
                <h5 class="center-align">Efetuar Login</h5>
            </div>
        </div>


        <template v-for="sp in this.socialProviders">
        <div class="row" style="margin-bottom:7px!important;">            
            <div class="col s12 center-align" style="margin-top:15px">
              <div class="btn waves-effect" v-bind:class="sp == 'facebook'?'blue':(sp == 'google'?'orange':'pink')"  style="width:70%" @click.prevent="redirectToSocialLogin(sp)">
                  <i v-if="sp == 'facebook'" class="fab fa-facebook-square"></i> 
                  <i v-if="sp == 'google'" class="fab fa-google"></i>
                  &nbsp;&nbsp; <strong>{{sp}}</strong></div> 
            </div>
        </div>
        </template>                

          <div class="row" style="margin-bottom:1px!important;">
             <div class="col s12">
                <h5 class="center-align">&nbsp;</h5> 
            </div>
        </div>
            
    </div>        
</div>
</form>    
</template>



<script>
export default { 

  components: {},

  data: function() {
    return {
        name:"",
        telefone:"",
        socialProviders:[],
        socialUrlLogin :"" 
    };
  },

  beforeRouteEnter: function (to, from, next) {

       axios.get('/api/providers').then((response)=>{

                next(vm => { 
                    vm.socialProviders = response.data.providers;
                    vm.socialUrlLogin = response.data.urlLogin;
                })

        },(error)=>{ 

        }); 


    },
    created: function() {
        
        if (this.$route.params.token){
            alert(this.$route.params.token); 

            axios.get('/getTempToken',{ crossDomain: true}).then((response)=>{

                        console.log("tokenCookie", this.$cookies.get("tokenCookie")) 
                        console.log(response.data);

                },(error)=>{ 

                }); 



        }else{
            console.log("this.$route.params.token:" + this.$route.params.token); 
        }
        
    },

  methods: {

      redirectToSocialLogin: function(provider){ 
            window.location = this.socialUrlLogin+"/"+provider; 
      }


  },
  mounted: function() {
  
  }
  
};
</script> 



