<template>

<div class="container">
  
    <PageTitle titulo="Editar Pergunta" /> 

      <div class="row">
        <form class="col s12">
          <div class="row">
            
						<div class="input-field col s12">
							<select v-model="materia" ref="materia" name="materia">  
								<option value="" disabled selected>Selecione uma opção</option>
								<option  v-for="mat in materias" :key="mat.id" :value="mat.id">{{mat.nome}}</option>
							</select>
							<label>Matéria</label>
						</div>  

            <div class="input-field col s12">
              <input type="text" id="pergunta" v-model="pergunta" ref="pergunta">
              <label for="pergunta" class="active">Digite aqui sua pergunta</label> 
            </div>

            <div class="input-field col s12">
              <input type="text" id="ra" v-model="ra" ref="ra"  >
              <label for="ra" class="active">Alternativa (A)</label> 
            </div>
            <div class="input-field col s12">
              <input type="text" id="rb" v-model="rb" ref="rb" >
              <label for="rb" class="active">Alternativa (B)</label> 
            </div>    
            <div class="input-field col s12">
              <input type="text" id="rc" v-model="rc" ref="rc" >
              <label for="rc" class="active">Alternativa (C)</label> 
            </div>             
            <div class="input-field col s12">
              <input type="text" id="rd" v-model="rd" ref="rd" >
              <label for="rd" class="active">Alternativa (D)</label>  
            </div>                        
            <div class="input-field col s12">
              <input type="text" id="re" v-model="re" ref="re" >
              <label for="re" class="active">Alternativa (E)</label> 
            </div>       
            <div class="input-field col s12"> 
              <select v-model="rcorreta" ref="rcorreta">  
                <option value="" selected>Selecione a opção correta</option>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
                <option value="E">E</option> 
              </select>
              <label>Alteranativa correta</label>
            </div>   
            <div class="col s12">                   
              <label>
                <input type="checkbox" v-model="verificada" ref="verificada"  />
                <span>Verificada pelo professor</span>
              </label>
            </div>


          </div> 
          <div class="row right">
            <a href="" @click.prevent="enviar" class="btn" >Salvar</a>
            <a href="" @click.prevent="voltar" class="btn btn-flat" >Voltar</a>
          </div>
        </form>
      </div>

</div>

</template>


<script>
import PageTitle from "../components/vue-custom-page-title.vue";
import { setTimeout } from 'timers';
export default {
  name:'PerguntaList',
  components:{
    PageTitle, 
    
  },   
  data: function() {
    return {
          pergunta:'', 
          ra:'',
          rb:'',
          rc:'',
          rd:'',
          re:'',
          rcorreta:'',
          materias:[{id:1, nome:'História'},{id:2,nome:'Filosofia'},{id:3,nome:'Sociologia'}],
          materia:'',
          verificada:''
          
    }; 
  },  
  
  props: { 
    
  },

  created () {
  

  },
  beforeRouteEnter: function (to, from, next) { 

        axios.get("/api/perguntas/"+to.params.id+"/edit").then( 
          (response)=>{
              next(vm => {
                      vm.pergunta = response.data.pergunta,
                      vm.ra = response.data.ra,
                      vm.rb = response.data.rb,
                      vm.rc = response.data.rc,
                      vm.rd = response.data.rd,
                      vm.re = response.data.re,
                      vm.rcorreta = response.data.rcorreta,
                      vm.materia =  response.data.materia_id, 
                      vm.verificada =  response.data.verificada == 1?true:false  
                  });
          },
          (error)=>{ 
            M.toast({ html: "Ocorreu um erro. Por favor, tente mais tarde.", classes: "red" });
          }
        );
	},     
  methods: { 
    voltar:function(){
      this.$router.replace("/pergunta");   
    },

    enviar: function(){
        
        this.$root.removeHelperText(this.$refs.materia); 
        this.$root.removeHelperText(this.$refs.pergunta);
        this.$root.removeHelperText(this.$refs.ra);
        this.$root.removeHelperText(this.$refs.rb);
        this.$root.removeHelperText(this.$refs.rc);
        this.$root.removeHelperText(this.$refs.rd);
        this.$root.removeHelperText(this.$refs.re);
        this.$root.removeHelperText(this.$refs.rcorreta);
        

        if (!this.materia){
          this.$root.insertHelperText(this.$refs.materia,"Informe a matéria","red");          ;
          this.$refs.materia.focus();
          return;
        }
        
        if (!this.pergunta){ 
          this.$root.insertHelperText(this.$refs.pergunta,"Informe a pergunta","red");
          this.$refs.pergunta.focus(); 
          return;
        }	

        if (!this.ra){ 
          this.$root.insertHelperText(this.$refs.ra,"Informe a alternativa (A)","red");
          this.$refs.ra.focus(); 
          return;
        }	      
        if (!this.rb){ 
          this.$root.insertHelperText(this.$refs.rb,"Informe a alternativa (B)","red");
          this.$refs.rb.focus(); 
          return;
        }	           
        if (!this.rc){ 
          this.$root.insertHelperText(this.$refs.rc,"Informe a alternativa (C)","red");
          this.$refs.rc.focus(); 
          return;
        }	           
        if (!this.rd){ 
          this.$root.insertHelperText(this.$refs.rd,"Informe a alternativa (D)","red");
          this.$refs.rd.focus(); 
          return;
        }
        if (!this.re){ 
          this.$root.insertHelperText(this.$refs.re,"Informe a alternativa (E)","red");
          this.$refs.re.focus(); 
          return;
        }	         
        if (!this.rcorreta){ 
          this.$root.insertHelperText(this.$refs.rcorreta,"Informe e resposta correta","red");
          this.$refs.rcorreta.focus(); 
          return;
        }	           
        	           

        this.$store.commit('setSpinner',{show:true, legend:"Aguarde..."});  

        let obj = {
          _method: 'PATCH',    
          materia_id: this.materia,
          pergunta: this.pergunta,
          ra:this.ra,
          rb:this.rb,
          rc:this.rc,
          rd:this.rd,
          re:this.re,
          rcorreta:this.rcorreta,
          verificada:this.verificada
        }


        axios.post("/api/perguntas/"+this.$route.params.id, obj).then( 
          (response)=>{
            
            M.toast({ html: "Dados salvos!", classes: "green" }); 
              window.setTimeout(()=>{
                this.$store.commit('setSpinner',{show:false});   
              },2000);
          }, 
          (error)=>{
            this.$store.commit('setSpinner',{show:false});   
            M.toast({ html: "Ocorreu um erro. Por favor, tente mais tarde.", classes: "red" });
          }

        );


    }

		
  },

  mounted () { 

    setTimeout(()=>{
      M.AutoInit(); 
    },100)
    
  },



}
</script>