
<template>

<div class="container">
  
    <PageTitle titulo="Perguntas" /> 

    
    <div class="col s12 right">                   
      <label  class="orange-text"> 
        <input type="checkbox" v-model="somenteNaoVerificadas" ref="verificada"  />
        <span>Exibir somente não verificadas pelo professor</span>
      </label>
    </div>
   
    

    <div class="row" v-for="mat in materias" :key="mat.id" :value="mat.id">
      <div class="col s12">
        <h5>{{mat.nome}}</h5> 
         
        <div class="row" v-for="perg in mat.perguntas" :key="perg.id" :value="perg.id" style="border-bottom:1px solid #f1f1f1">
          <template v-if="somenteNaoVerificadas? (perg.verificada==0)?true:false :true ">
          <div class="col s10">
            {{perg.pergunta}} 
          </div>
          <div class="col s2">
            <a :href="'/#/pergunta-edit/'+perg.id" :class="perg.verificada ==1?'btn-floating btn-small green':'btn-floating btn-small orange' "><i class="material-icons">create</i></a>
          </div>
          </template>          
        </div>

      </div>
    </div>



  <a href="/#/pergunta-create" class="btn-floating btn-large waves-effect waves-light red right"><i class="material-icons">add</i></a>

</div>


</template>


<script>
import PageTitle from "../components/vue-custom-page-title.vue";
export default {
  name:'PerguntaList',
  components:{
    PageTitle, 
    
  },   
  data: function() {
    return {
          materias:[],
          somenteNaoVerificadas:false
          
    }; 
  },  
  
  props: { 
    
  },

  created () {
  

  },
  beforeRouteEnter: function (to, from, next) {

        axios.get("/api/perguntas").then(
          (response)=>{
              next(vm => {
                      vm.materias = response.data
                  });
          },
          (error)=>{ 
            M.toast({ html: "Ocorreu um erro. Por favor, tente mais tarde.", classes: "red" });
          }
        );

	},     
  methods: { 
    voltar:function(){
      this.$router.go(-1);  
    },

    enviar: function(){



    }

		
  }



}
</script>