<template>

<div>

  <div class="container">

    <blockquote>
       <b>Deixe uma sugestão</b>
       <br>
        O <i>Quiz Humanas</i> adora ouvir você :-)
        <br>
        Com ajuda de todos, tornaremos este jogo ainda melhor! 
    </blockquote>

  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">person_outline</i>
          <input id="person_outline" v-model="nome" ref="nome"   type="text" >
          <label for="person_outline" class="active">Nome</label> 
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">mail</i>
          <input id="insert_mail" v-model="email" ref="email" type="text">
          <label for="insert_mail" class="active">Email</label>
        </div>        
        <div class="input-field col s12">
          <i class="material-icons prefix">mode_edit</i>
          <textarea  id="library_comment" v-model="comentario" ref="comentario" class="materialize-textarea"></textarea>
          <label for="library_comment">Escreva seu comentário</label>
        </div>                
      </div>
      <div class="row right">
        <a href="" @click.prevent="enviar" class="btn" >Enviar</a>
        <a href="" @click.prevent="voltar" class="btn btn-flat" >Voltar</a>
      </div>
    </form>
  </div>

  </div>         


</div>
</template>


<script>
// import Listagem from '@/components/Listagem.vue'
export default {
  name: 'Sugestao',
  data: function() {
    return {
        nome: this.$store.state.usuarioLogado.name,
        email: this.$store.state.usuarioLogado.email,
        comentario:""
          
    }; 
  },  
  
  props: { 
    
  },

  created () {
  

  },
  beforeRouteEnter: function (to, from, next) {
       next();  
	},     
  methods: { 
    voltar:function(){
      this.$router.push('/');  
    },

    enviar: function(){
        
        this.$root.removeHelperText(this.$refs.nome);
        this.$root.removeHelperText(this.$refs.email);
        this.$root.removeHelperText(this.$refs.comentario); 

        if (!this.nome){
          this.$root.insertHelperText(this.$refs.nome,"Informe seu nome","red");          ;
          this.$refs.nome.focus();
          return;
        }
        
        if (!this.email){
          this.$root.insertHelperText(this.$refs.email,"Informe seu email","red");          ;
          this.$refs.email.focus();
          return;
        }        
        
        if (!this.comentario){ 
          this.$root.insertHelperText(this.$refs.comentario,"Informe o seu comentário","red");
          this.$refs.comentario.focus(); 
          return;
        }	

        this.$store.commit('setSpinner',{show:true, legend:"Aguarde..."});  

        let msg = "nome="+this.nome+", email=" + this.email + ", comentário="+this.comentario; 

        axios.post("/api/sugestaos",{nome:this.nome, email:this.email,comentario:this.comentario}).then(
          (response)=>{
            
            M.toast({ html: "Obrigado pela sugestão!", classes: "green" });
              window.setTimeout(()=>{
                this.$store.commit('setSpinner',{show:false});   
                this.$router.push('/');    
              },4000); 
          },
          (error)=>{
            this.$store.commit('setSpinner',{show:false});   
            M.toast({ html: "Ocorreu um erro. Por favor, tente mais tarde.", classes: "red" });
          }

        );


    }

		
  }



}
</script>