
<template>
    <div> 
      <h5><a href="#" @click.prevent.stop="back" v-if="showback"><i class="material-icons left"  >arrow_back</i></a> {{titulo}} </h5>
      <div class="divider" style="margin-bottom: 5px;"></div>
    </div>
</template>
 

<script>

    export default 
{
     
    props:{
      titulo:{
        type:String,
        default: function () {
          return "";   
        }      

      },
      showback:false
    }, 


    data: function () {
      return {
        
      }
    },

    methods: {

      back:function(){
        // go back by one record, the same as history.back()
        history.back(); 
      }
    },  
    
    computed:{},

    mounted() {
        
    }    

  
}
</script> 