<style>
.progress-wrapper {
  opacity:    0.8;   background: #000;   display: flex;  align-items:center;  justify-content: center;
  flex-wrap: wrap;   height: 100vh;   width: 100vw;  position: fixed;  top:0px;  left: 0px;  z-index: 1000;
}
 
.progress-wrapper .progress { 
  width: 30%;  margin: 0px 0px 100px 0px;  height: 5px;  z-index: 1001;
}

.msg-wrapper {
  display: flex;  align-items:center;  justify-content: center;  flex-wrap: wrap;   height: 150vh;   width: 100vw;
  position: fixed;  top:0px;  left: 0px;  z-index: 1002;
}

#spinner_msg { 
  width: 80%;  color:#fff;  height: 120px;  margin: 20px;  padding: 0 10px;  text-align: center;  z-index: 1003;
  }

.img-wrapper { 
  display: flex;  align-items:center;  justify-content: center;  flex-wrap: wrap;   height: 100vh;   width: 100vw;
  position: fixed;  top:0px;  left: 0px;  z-index: 1002;
}

#spinner_img { 
  width: 80%;  color:#fff;  height: 200px;  margin: 5px;  padding: 0 10px;  text-align: center;  z-index: 1003;
  }  

.img-spinner-icon-certo{
    background: url('/images/certo.png'); 
    width: 120px;
    height: 120px;
    margin: 0px auto;
}  

.img-spinner-icon-errado{
    background: url('/images/errado.png'); 
    width: 175px;
    height: 32px;
    margin: 0px auto;
}  

</style>

<template>

<div class="vue-custom-spinner-wrapper" >

    <div class="img-wrapper">
            <div id="spinner_img">
                <div class="img-spinner-icon-certo"></div>
            </div>
    </div>

    <div class="msg-wrapper">
            <div id="spinner_msg">
                <span v-html="legend"></span>
            </div>
    </div>
     

    <div class="progress-wrapper">

    </div>  

</div>



</template>    



<script>

    export default 
{
     
     
    props:{
      
      legend:{ 
        default: function () { 
          return "<br><br>Você acertou!";  
        }      
      },
      
      icon:{ 
        type:String,
        default: function () {
          return "/images/wait.png";    
        }      
      },
      visible:{ 
        type:Boolean,
        default: function () {
          return true;   
        }      
      },

      
    }, 


    data: function () {
      return {
      
      }
    },

    methods: {

    },  
    computed:{

    }, 
    created: function() {
      
    },    
    mounted:function() {  
      
    }    

  
}
</script> 