<style>
.progress-wrapper {
  opacity:    0.8;   background: #000;   display: flex;  align-items:center;  justify-content: center;
  flex-wrap: wrap;   height: 100vh;   width: 100vw;  position: fixed;  top:0px;  left: 0px;  z-index: 1000;
}

.progress-wrapper .progress { 
  width: 30%;  margin: 0px 0px 100px 0px;  height: 5px;  z-index: 1001;
}

.msg-wrapper {
  display: flex;  align-items:center;  justify-content: center;  flex-wrap: wrap;   height: 100vh;   width: 100vw;
  position: fixed;  top:0px;  left: 0px;  z-index: 1002;
}

#spinner_msg { 
  width: 80%;  color:#fff;  height: 50px;  margin: 5px;  padding: 0 10px;  text-align: center;  z-index: 1003;
  }

.img-wrapper { 
  display: flex;  align-items:center;  justify-content: center;  flex-wrap: wrap;   height: 100vh;   width: 100vw;
  position: fixed;  top:0px;  left: 0px;  z-index: 1002;
}

#spinner_img { 
  width: 80%;  color:#fff;  height: 200px;  margin: 5px;  padding: 0 10px;  text-align: center;  z-index: 1003;
  }  

.img-spinner-icon{
    background: url('/images/logo-branca-trans.png'); 
    width: 175px;
    height: 32px;
    margin: 0px auto;
}  


</style>

<template>

<div class="vue-custom-spinner-wrapper" v-show="this.visible">

    <div class="img-wrapper">
            <div id="spinner_img">
                <div class="img-spinner-icon"></div>
            </div>
    </div>

    <div class="msg-wrapper">
            <div id="spinner_msg">
                <span v-html="legend"></span>
            </div>
    </div>
    

    <div class="progress-wrapper">
        <div class="progress">
            <div class="indeterminate" ></div>
        </div>
    </div> 

</div>



</template>    



<script>

    export default 
{
     
     
    props:{
      
      legend:{ 
        default: function () { 
          return "Por favor, aguarde...";  
        }      
      },
      
      icon:{ 
        type:String,
        default: function () {
          return "/images/wait.png";    
        }      
      },
      visible:{ 
        type:Boolean,
        default: function () {
          return false;   
        }      
      },

      
    }, 


    data: function () {
      return {
      
      }
    },

    methods: {

    },  
    computed:{

    }, 
    created: function() {
      
    },    
    mounted:function() {  
      
    }    

  
}
</script> 